# Ignore Python bytecode files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore the virtual environment
venv/

# Ignore the test cache
.pytest_cache/

# Ignore Git-related files
.git/

# Ignore IDE/editor-specific files (if applicable)
.vscode/
.idea/

# Ignore unnecessary files
*.md
